@model ML.Ciclista
@{
    ViewData["Title"] = "GetAllCiclista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAllCiclista</h1>

<div class="container">
    <div class="row">

        @using (Html.BeginForm("Add", "Ciclista", FormMethod.Post))
        {
            <table class="table table-responsive">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Edad</th>
                        <th>Nivel</th>
                        <th>MembresiaActiva</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (ML.Ciclista ciclista in Model.Ciclistas)
                    {

                        ciclista.Ciclistas = new List<object>();

                        <tr>

                            <td>@ciclista.Nombre</td>
                            <td>@ciclista.Direccion</td>
                            <td>@ciclista.Edad</td>
                            <td>@ciclista.Nivel</td>
                            <td>@ciclista.MembresiaActiva</td>

                        </tr>
                        
                        ciclista.Ciclistas.Add(ciclista);
                    }

                </tbody>
            </table>    

            <div class="container">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Agregar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Ciclista.js"></script>

<div class="container">


    <hr />
    <table id="tblCiclista" class="table table-hover" border="1">
        <thead>
            <tr>

                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col">Direccion</th>
                <th class="text-center" scope="col">Edad</th>
                <th class="text-center" scope="col">Nivel</th>
                <th class="text-center" scope="col">Membresia Activa</th>
                <th class="text-center" scope="col">Guardar</th>

                <div class="col-md-1" style="padding-left:100px">
                    <button type="button" class=" btn btn-success" id="btnAdd" onclick="Guardar()">Agregar</button>
                </div>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

*@