@model ML.Ciclista
@{
    ViewData["Title"] = "GetAllCiclista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GET CICLISTAS / API</h1>

<div class="container">
    <div class="row">

        @using (Html.BeginForm("Add", "Ciclista", FormMethod.Post))
        {
            <table class="table table-responsive">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Edad</th>
                        <th>Nivel</th>
                        <th>MembresiaActiva</th>
                    </tr>
                </thead>

                <tbody>

                    @for (var i = 0; i < Model.Ciclistas.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.Ciclistas[i].NombreCiclista" />
                        <input type="hidden" asp-for="@Model.Ciclistas[i].Direccion" />
                        <input type="hidden" asp-for="@Model.Ciclistas[i].Edad" />
                        <input type="hidden" asp-for="@Model.Ciclistas[i].Nivele" />
                        <input type="hidden" asp-for="@Model.Ciclistas[i].Membresia" />

                        <tr>
                            <td>@Model.Ciclistas[i].NombreCiclista</td>
                            <td>@Model.Ciclistas[i].Direccion</td>
                            <td>@Model.Ciclistas[i].Edad</td>
                            <td>@Model.Ciclistas[i].Nivele</td>
                            <td>@Model.Ciclistas[i].Membresia</td>
                        </tr>
                    }

                </tbody>
            </table>    

            <div class="container">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Agregar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


