@model ML.Ciclista
@{
    ViewData["Title"] = "GetAllCiclista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAllCiclista</h1>

<div class="container">
    <div class="row">

        @using (Html.BeginForm("Add", "Ciclista", FormMethod.Post))
        {
            <table class="table table-responsive">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Edad</th>
                        <th>Nivel</th>
                        <th>MembresiaActiva</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (ML.Ciclista ciclista in Model.Ciclistas)
                    {

                        ciclista.Ciclistas = new List<object>();

                        <tr>

                            <td>@ciclista.NombreCiclista</td>
                            <td>@ciclista.Direccion</td>
                            <td>@ciclista.Edad</td>
                            <td>@ciclista.Nivele</td>
                            <td>@ciclista.Membresia</td>

                        </tr>
                        
                        ciclista.Ciclistas.Add(ciclista);
                    }

                </tbody>
            </table>    

            <div class="container">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Agregar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


